Source: linux-rk2410-nocsf
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               flex,
               bison,
               bc,
               libncurses-dev,
               libssl-dev,
               cpio,
               kmod,
               libyaml-dev,

Package: linux-image-rock-4d
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for ROCK 4D
 This is the meta-package for Linux kernel.

Package: linux-headers-rock-4d
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for ROCK 4D
 This is the meta-package for Linux headers.

Package: linux-libc-dev-rock-4d
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for ROCK 4D
 This is the meta-package for Linux libc-dev.

Package: linux-image-radxa-cm4-rpi-cm4-io
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa CM4 RPI CM4 IO 
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-cm4-rpi-cm4-io
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa CM4 RPI CM4 IO
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-cm4-rpi-cm4-io
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa CM4 RPI CM4 IO
 This is the meta-package for Linux libc-dev.

Package: linux-image-radxa-rk3576
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for Generic RK3576 Image
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-rk3576
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Generic RK3576 Image
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-rk3576
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Generic RK3576 Image
 This is the meta-package for Linux libc-dev.

Package: linux-image-radxa-zero3
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa ZERO 3
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-zero3
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa ZERO 3
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-zero3
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa ZERO 3
 This is the meta-package for Linux libc-dev.

Package: linux-image-rock-3c
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for ROCK 3C
 This is the meta-package for Linux kernel.

Package: linux-headers-rock-3c
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for ROCK 3C
 This is the meta-package for Linux headers.

Package: linux-libc-dev-rock-3c
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for ROCK 3C
 This is the meta-package for Linux libc-dev.

Package: linux-image-radxa-cm3i-io
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa CM3I IO
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-cm3i-io
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa CM3I IO
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-cm3i-io
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa CM3I IO
 This is the meta-package for Linux libc-dev.

Package: linux-image-radxa-e25
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa E25
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-e25
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa E25
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-e25
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev
Depends: linux-libc-dev-${binary:Version}-rk2410-nocsf,
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa E25
 This is the meta-package for Linux libc-dev.
